<%-include('partials/header');-%>
    <div class="container">
        <h1>Contact</h1>
        <p><%=contactContent%></p>   
        
        <p><a class="refrenceanchors" href="https://www.linkedin.com/in/adhithya-krishna-s-014575254/">LinkedIN</a>
            <a class="refrenceanchors" href="https://github.com/Adhithya-Krishna">GitHub</a></p>
    </div>
<%-include('partials/footer');-%>
